li{
    list-style: none;
}

/* */
.addgoodsbox{
    width: 100%;
    bottom: 100%;
}
.addgoodsbox li{
/* height: 45px; */
width: 100%;
margin: 10px 0;
}
.addgoodsbox li label{
   font-size: 20px;
   line-height: 45px;
    }
.input-comon{
    width: 80%;
    height: 39px;
    padding: 0px 15px;
    margin: 0 15px;
}

li textarea{
    width: 100%;
    height: 160px;
}
.imagess{
    width: 90px;
    height: 90px;
}
.uploadfile div {
    margin: 0;
}
.uploadfile div:nth-child(2) {
    /* position: absolute;
    top:11px;
    left: 38px; */
    margin:-26px -5px !important;
}
.ant-upload.ant-upload-select-picture-card {
    /* position: relative;
    top:19px;
    left: 83px; */
    /* border-style: none; */
/* background-color: #ffffff; */
}
.ant-upload.ant-upload-select-picture-card > .ant-upload {
    position: absolute;
    top:30px;
    left: 58px;
    
}
.uploadcss{
    position: absolute;
    top: 351px;
    left:549px;
border-style: none;
background-color: #ffffff;
}
.uploadimg{
    position: absolute;
    top:-19px;
    left: 4px;
  display: inline-block;
  width: 100px !important;
  height: 100px;
}