* {

    margin: 0;
    padding: 0;

}
ul,li {
    list-style:none;
}
a {
    text-decoration: none;
}   
// 顶部
.top {
    width: 100%; 
    height: .8rem;
    line-height: .8rem;
    background: #fb6e53;
    text-align: left;
    position: relative;
    display: none;

}
.top a {
    font-size: .32rem;
    color: #ffffff;
    display: block;
    padding-left: .4rem;
}
.top #topClose {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.333333rem;
    height: 100%;
    background: url(../../assets/images/x.png) center no-repeat;
    background-size: .533333rem;
    
}
// 轮播图
.ant-carousel .slick-slide {
    text-align: center;
    height: 5px;
    line-height: 5px;
    // background: #364d79;
    overflow: hidden;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .ant-carousel .slick-slide h3  img{
    height: 5.828889rem;
    width: 9.988867rem;
  }
  main {
    padding-bottom: 1.306667rem;
}
.data-show {
    
    width: 100%;
    height: 2.746667rem;
    background: #fff;
    box-shadow: 0 0 0.04rem #c8c8cc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.data-show .item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    width: 5rem;
    color: #323232;
}
.data-show .item .data {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.data-show .title {
    font-size: .32rem;
}
.data-show .value {
    margin-top: .2rem;
}
.data-show .accent {
    color: #fb6e53;
    font-size: .426667rem;
}
.data-show .logo {
    width: 1.52rem;
    height: 100%;
    margin-right: .266667rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
data-show img {
    width:1.52rem;
    height: 1.52rem;
}
data-show .logo span {
    margin-top: .133333rem;
    color: #909090;
    font-size: .266667rem;
}
.data-show .item.right {
    padding-left: .266667rem;
}
.data-show .item:nth-child(2) {
    width: 4.5rem;
}
.data-show:after {
    content: "";
    display: block;
    background-image: url(../../assets/images/divider.png);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 2rem;
    width: .026667rem;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: .36rem;
}
// @media screen and (-webkit-min-device-pixel-ratio: 2)
// .bdlist li {
//     border-bottom: .5px solid #d6d7dc;
// }
.bdlist li{
    position: relative;
}

.bdlist li a {
    color: #323232;
}
.bdlist li i.tag {
    background-image: url(../../assets/images/lucky.png);
    width: 1.066667rem;
    height: 1.066667rem;
    position: absolute;
    left: 0;
    top: 0;
}
.bdlist li i {
    display: inline-block;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.bdlist li p.title {
    text-align: center;
    font-size: .32rem;
}
.bdlist li i.divider.left-divider {
    background-image: url(../../assets/images/h1.png);
}
.bdlist li i.divider {
    width: .666667rem;
    height: .026667rem;
    vertical-align: middle;
}
.bdlist li p.title span {
    margin: 0 .666667rem;
}
.bdlist li i.divider.right-divider {
    background-image: url(../../assets/images/h.png);
}
.bdlist li p.annual {
    text-align: center;
    margin-top: .666667rem;
}
.bdlist li p.annual span:first-child {
    font-size: .96rem;
}
.bdlist li p.annual span {
    color: #fb6e53;
}
.bdlist li .data {
    width: 8rem;
    margin: .8rem auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bdlist li .data p.balance {
    margin-left: .533333rem;
}
.bdlist li .data p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: .32rem;
}
.bdlist li .data p .title {
    color: #909090;
}
.bdlist li .data p.term {
    margin-right: .533333rem;
    text-align: right;
}
.btn.bg.disable {
    background-color: #b4c0d0;
    border: none;
    color: #fff;
    box-shadow: none;
}
.bdlist li .btn {
    margin: .266667rem auto;
}
.btn.bg {
    background-color: #fb6e53;
    box-shadow: 1px 2px 5px rgba(251,110,83,.5);
}
.btn.big, .btn.small {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    outline: none;
    background: none;
}
.btn.big {
    height: 1.17333rem;
    width: 8.8rem;
    border-radius: .58667rem;
    line-height: 1.17333rem;
    border: none;
    font-size: .48rem;
}