* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.content,
.tabs[data-v-2a555b8b] {
  display: -ms-flexbox;
  display: flex;
}
.content {
  position: relative;
  top: 1.17333rem;
  padding-bottom: 0.5rem;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.common-item[data-v-6758f702] {
  width: 100%;
  position: relative;
  background: #fafaff;
  margin-top: 0.32rem;
  padding-top: 0.466667rem;
  padding-bottom: 0.466667rem;
}
.common-item .common-item-title[data-v-6758f702] {
  font-size: 0.32rem;
  padding-left: 0.32rem;
  height: 0.35rem;
  line-height: 0.35rem;
  color: #485da7;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 0.14rem;
}
.common-item .common-item-title .icon[data-v-6758f702] {
  width: 0.07rem;
  height: 0.28rem;
  background: #485da8;
  border-radius: 0.05333rem;
  margin-right: 0.1rem;
}
.common-item ul[data-v-6758f702] {
  width: 100%;
  overflow: hidden;
}
.common-item ul li[data-v-6758f702] {
  float: left;
  display: block;
  min-width: 50%;
  box-sizing: border-box;
  font-size: 0.32rem;
  line-height: 24px;
  overflow: hidden;
  padding-left: 0.32rem;
  list-style: none;
}
.common-item ul li .name[data-v-6758f702] {
  color: #909090;
  display: block;
  float: left;
}
.common-item ul li .value[data-v-6758f702] {
  color: #323232;
  display: block;
  float: left;
}
.common-item[data-v-6758f702] {
  width: 100%;
  position: relative;
  background: #fafaff;
  margin-top: 0.32rem;
  padding-top: 0.466667rem;
  padding-bottom: 0.466667rem;
}
.common-item .flex-font-item[data-v-6758f702] {
  display: block;
  margin: 0 0.32rem 0.576rem;
  font-size: 0.32rem;
  line-height: 1.5;
}
.common-item .mt-3[data-v-6758f702] {
  margin: -0.4rem 0.32rem 0.3rem;
  color: #485da7;
}
.orange[data-v-6758f702] {
  color: #f09851;
}
