article, aside, footer, header, nav, section {
    display: block;
}
footer {
    height: 1.30667rem;
    width: 100%;
    font-size: .26667rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fafaff;
    z-index: 9;
    box-shadow: 0 0 2px #c8c8cc;
}
footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
footer nav ul li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: .133333rem;
}
footer nav ul li .icon.ic-home {
    background-image: url(./assets/images/home.png);
}
footer nav ul li .icon {
    height: .8rem;
    width: .8rem;
    display: block;
    margin: 0 auto;
}
.icon {
    display: inline-block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
footer nav ul li.active span {
    color: #40538f;
}
footer nav ul li span {
    color: #646464;
}
footer nav ul li .icon.ic-list {
    background-image: url(./assets/images/z.png);
}
footer nav ul li .icon.ic-user {
    background-image: url(./assets/images/m.png);
}